*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 85%;
  margin: 0 auto;
}

.hhh{
  display: flex;
  justify-content: center;
  margin: 50px 0 50px 0;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  grid-gap: 25px;
}
